In [1]:
import pandas as pd

inputs = pd.read_csv("./in_test.txt", header=None, dtype=str)
inputs

       0
0  30373
1  25512
2  65332
3  33549
4  35390

In [2]:
inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      object
dtypes: object(1)
memory usage: 168.0+ bytes

In [3]:
for i_ in range(inputs.size):
    print(inputs[0][i_])
    for j_ in range(len(inputs[0][i_])):
        inputs[j_][i_] = inputs[0][i_][j_]

30373

IndexError: string index out of range

In [4]:
with open('./in_test.txt') as data:
    inputs = [line.strip() for line in data.readlines()]
inputs

['30373', '25512', '65332', '33549', '35390']

In [5]:
for i_ in range(len(inputs)):
    inputs[i_] = [c_ for c_ in inputs[i_]]
inputs

[['3', '0', '3', '7', '3'],
 ['2', '5', '5', '1', '2'],
 ['6', '5', '3', '3', '2'],
 ['3', '3', '5', '4', '9'],
 ['3', '5', '3', '9', '0']]

In [6]:
data = pd.DataFrame(inputs)
data

   0  1  2  3  4
0  3  0  3  7  3
1  2  5  5  1  2
2  6  5  3  3  2
3  3  3  5  4  9
4  3  5  3  9  0

In [7]:
data.describe()

        0  1  2  3  4
count   5  5  5  5  5
unique  3  3  2  5  4
top     3  5  3  7  2
freq    3  3  3  1  2

In [8]:
data[0]

0    3
1    2
2    6
3    3
4    3
Name: 0, dtype: object

In [9]:
data.iloc[0,:]

0    3
1    0
2    3
3    7
4    3
Name: 0, dtype: object

In [10]:
data.iloc[:,0]

0    3
1    2
2    6
3    3
4    3
Name: 0, dtype: object

In [11]:
cols_len = data.describe()[0][0]
cols_len

5

In [12]:
rows_len = len(data.iloc[0,:])
rows_len

5

In [13]:
visible_edge = (cols_len + rows_len - 2) * 2
visible_edge

16

In [14]:
visible_inside = [data.iloc[i_][j_] for i_ in range(1,rows_len-1) for j_ in range(1,cols_len-1)]
visible_inside

['5', '5', '1', '5', '3', '3', '3', '5', '4']

In [15]:
def is_visible(i_, j_):
    cell_value = data.iloc[i_][j_]
    print(cell_value, max(data.iloc[0:i_][j_]), max(data.iloc[i_:][j_]), max(data.iloc[i_][0:j_]), max(data.iloc[i_][j_:]))
    print(max(data.iloc[0:i_][j_])<cell_value or max(data.iloc[i_+1:][j_])<cell_value or max(data.iloc[i_][0:j_])<cell_value or max(data.iloc[i_][j_+1:])<cell_value)
    return (max(data.iloc[0:i_][j_])<cell_value or max(data.iloc[i_+1:][j_])<cell_value or max(data.iloc[i_][0:j_])<cell_value or max(data.iloc[i_][j_+1:])<cell_value)

In [16]:
visible_inside = [[data.iloc[i_][j_], i_, j_] for i_ in range(1,rows_len-1) for j_ in range(1,cols_len-1) if is_visible(i_, j_)]
visible_inside

5 0 5 2 5
True
5 3 5 5 5
True
1 7 9 5 2
False
5 5 5 6 5
True
3 5 5 6 3
False
3 7 9 6 3
True
3 5 5 3 9
False
5 5 5 3 9
True
4 7 9 5 9
False

[['5', 1, 1], ['5', 1, 2], ['5', 2, 1], ['3', 2, 3], ['5', 3, 2]]

In [17]:
data

   0  1  2  3  4
0  3  0  3  7  3
1  2  5  5  1  2
2  6  5  3  3  2
3  3  3  5  4  9
4  3  5  3  9  0

In [18]:
total_visible = visible_edge + len(visible_inside)
total_visible

21

In [19]:
import math

def visible_range(i_, j_):
    cell_value = data.iloc[i_][j_]
    print('------')
    print(cell_value, i_, j_)
    to_check = reversed(list(data.iloc[0:i_][j_])), list(data.iloc[i_+1:][j_]), reversed(list(data.iloc[i_][0:j_])), list(data.iloc[i_][j_+1:])
    visibility = []
    print(to_check)
    for l_ in to_check:
        nested_visibility = 0
        for n_ in l_:
            nested_visibility += 1
            if n_ >= cell_value:
                break
        visibility.append(nested_visibility)
    print(f"=> visibility: {visibility}")
    return math.prod(visibility)

In [20]:
[[data.iloc[i_][j_], i_, j_, visible_range(i_, j_)] for i_ in range(1,rows_len-1) for j_ in range(1,cols_len-1)]

------
5 1 1
(<list_reverseiterator object at 0x7f80f715f310>, ['5', '3', '5'], <list_reverseiterator object at 0x7f812f78fb20>, ['5', '1', '2'])
=> visibility: [1, 1, 1, 1]
------
5 1 2
(<list_reverseiterator object at 0x7f80f715f4f0>, ['3', '5', '3'], <list_reverseiterator object at 0x7f80f715f4c0>, ['1', '2'])
=> visibility: [1, 2, 1, 2]
------
1 1 3
(<list_reverseiterator object at 0x7f80f71754c0>, ['3', '4', '9'], <list_reverseiterator object at 0x7f80f7175220>, ['2'])
=> visibility: [1, 1, 1, 1]
------
5 2 1
(<list_reverseiterator object at 0x7f80f7175a90>, ['3', '5'], <list_reverseiterator object at 0x7f80f7175100>, ['3', '3', '2'])
=> visibility: [1, 2, 1, 3]
------
3 2 2
(<list_reverseiterator object at 0x7f80f7175b50>, ['5', '3'], <list_reverseiterator object at 0x7f80f7175c40>, ['3', '2'])
=> visibility: [1, 1, 1, 1]
------
3 2 3
(<list_reverseiterator object at 0x7f80f723b4c0>, ['4', '9'], <list_reverseiterator object at 0x7f80f723bd00>, ['2'])
=> visibility: [2, 1, 1, 1]
------
3 3 1
(<list_reverseiterator object at 0x7f80f727c9a0>, ['5'], <list_reverseiterator object at 0x7f80f727ce80>, ['5', '4', '9'])
=> visibility: [1, 1, 1, 1]
------
5 3 2
(<list_reverseiterator object at 0x7f80f727cc40>, ['3'], <list_reverseiterator object at 0x7f80f727c700>, ['4', '9'])
=> visibility: [2, 1, 2, 2]
------
4 3 3
(<list_reverseiterator object at 0x7f80f7163280>, ['9'], <list_reverseiterator object at 0x7f80f7163370>, ['9'])
=> visibility: [3, 1, 1, 1]

[['5', 1, 1, 1],
 ['5', 1, 2, 4],
 ['1', 1, 3, 1],
 ['5', 2, 1, 6],
 ['3', 2, 2, 1],
 ['3', 2, 3, 2],
 ['3', 3, 1, 1],
 ['5', 3, 2, 8],
 ['4', 3, 3, 3]]

In [21]:
data

   0  1  2  3  4
0  3  0  3  7  3
1  2  5  5  1  2
2  6  5  3  3  2
3  3  3  5  4  9
4  3  5  3  9  0